
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
        <h1>Welcome to SRC Group</h1>
        <h2>Building Better Together</h2>
    </div>
</section>
<!-- End Hero -->

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="row">
            <div class="col-xl-4 col-lg-5" data-aos="fade-up">
                <div class="content">
                    <h3>Why Choosing SRC ?</h3>
                    <h4>
                        SRC Construction Services, Inc. is a premier construction services firm specializing in commercial building construction and renovation, civil construction, and renewable energy projects. Our exceptionally talented team consistently delivers on our promise
                        of complete project and client satisfaction. And we have fun doing it.
                    </h4>
                    <div class="text-center">
                        <a routerLink="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 d-flex">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-receipt"></i>
                                <h4>CREATE</h4>
                                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-cube-alt"></i>
                                <h4>RENOVATE</h4>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-images"></i>
                                <h4>LITIGATE</h4>
                                <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Why Us Section -->



<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Services</h2>
            <h3>Our General Contracting services include a full spectrum of site development services for every phase of any construction management project: design, schedule management, ordering and receiving specialty materials, management of skilled trades
                and subcontractors, code compliance and inspections, site safety and security.
            </h3>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-building"></i></div>
                    <h4 class="title"><a href="">Design/Build</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-bricks"></i></div>
                    <h4 class="title"><a href="">Pre-Construction</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-bar-chart"></i></div>
                    <h4 class="title"><a href="">Construction Management</a></h4>
                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-boxes"></i></div>
                    <h4 class="title"><a href="">Shell Contracting</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-cone-striped"></i></div>
                    <h4 class="title"><a href="">Tenant improvements</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title"><a href="">Project Analysis</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Services Section -->


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-up">Contact</h2>
            <p data-aos="fade-up">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem
                hic quas.</p>
        </div>

        <div class="row justify-content-center">

            <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
                <div class="info-box">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Our Address</h3>
                    <p>A108 Adam Street, New York, NY 535022</p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
                <div class="info-box">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>info@example.com<br>contact@example.com</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
                <div class="info-box">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                </div>
            </div>
        </div>


    </div>

</section>
<!-- End Contact Section -->


<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Flexor</h3>
                    <p>
                        A108 Adam Street <br> New York, NY 535022<br> United States <br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="#">Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="#">Build</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="#">Construction Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="#">Shell Contracting</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="#">Tenant improvements</a></li>
                    </ul>
                </div>



<div class="jumbotron jumbotron-fluid">
    <div class="container"> <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.pinimg.com/736x/46/5c/f9/465cf9a43beb6824fa2b74d5c8ba1079--hd-wallpaper.jpg" alt="Los Angeles" width="1200" height="500">
            <div class="carousel-caption">
                <h3>Think</h3>
              </div>
          </div>
          <div class="carousel-item">
            <img src="https://extension.harvard.edu/wp-content/uploads/sites/8/2020/10/computer-programming.jpg" alt="Chicago" width="1200" height="500">
            <div class="carousel-caption">
                <h3>Plan</h3>
              </div>
        </div>
          <div class="carousel-item">
            <img src="https://content.techgig.com/thumb/msid-77959662,width-860,resizemode-4/7-New-programming-languages-for-developers-to-learn-in-2020.jpg?77507" alt="New York" width="1200" height="500">
            <div class="carousel-caption">
                <h3>Build</h3>
              </div>
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div> 
    

      
      <div class="container">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                <h2 style="text-align:center;color:rgb(0, 0, 0);font-size:20px;">Java</h2>
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                <h2 style="text-align:center;color:rgb(0, 0, 0);font-size:20px;">Angular</h2>
            </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Angular is a TypeScript-based free and open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                <h2 style="text-align:center;color:rgb(0, 0, 0);font-size:20px;">Spring Framework</h2>
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                The Spring Framework is an application framework and inversion of control container for the Java platform. The framework's core features can be used by any Java application, but there are extensions for building web applications on top of the Java EE platform.              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
 

<div class="container mt-3">


    
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://www.springboard.com/library/static/dba9465341deb492833a4f6e350e32d0/cecd0/software-engineer-job.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Build</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.rcrwireless.com/wp-content/uploads/2015/03/36670864_l-696x322.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">COMMERCIAL</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.developer.com/wp-content/uploads/2021/06/Developer-vs-Engineer-Software-1024x576.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Design</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

            </div>
        </div>
    </div>

<!-- </footer> -->
<!-- End Footer -->